@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Notable-Regular";
  src: url("../../fonts/Notable-Regular.woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-ExtraBold.woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-LMedium.woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
.header {
  text-align: center;
  color: #fff;
  background-color: rgb(0, 0, 0);
}
.header__image {
  width: 100%;
  height: 460px;
  overflow: hidden;
}
.header__title-name {
  padding-top: 1px;
  margin-bottom: 35px;
  letter-spacing: -6px;
  line-height: 104px;
  font-size: 79px;
  font-weight: 600;
}
.header__avocation {
  padding: 0;
  padding-bottom: 98px;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #bfbfbf;
  padding: 57px;
  padding-right: 32px;
  padding-left: 32px;
}
.footer__title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -4px;
  margin: 0;
  margin-right: 0px;
}
.footer__list {
  display: flex;
}
.footer__item {
  position: relative;
}
.footer__item_inst::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/instagram.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__item_linked::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/linkedin.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__item_tg::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/telegram.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__item:not(:last-child) {
  margin-right: 44px;
}
.footer__link {
  color: #000;
  transition: color 0.3s;
}
.footer__link:hover {
  transition: color 0.3s;
  color: #E96D09;
}

.about {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #ededed;
  padding: 40px;
  font-size: 20px;
}
.about::before {
  content: "";
  position: absolute;
  bottom: -219px;
  left: 0;
  background-color: #E96D09;
  width: 266px;
  height: 466px;
  z-index: 50;
}
.about__cv {
  font-family: "Notable-Regular";
  position: relative;
  margin-top: 46px;
  margin-left: 10px;
  width: 135px;
  height: 135px;
  background-color: #E96D09;
  border-radius: 50%;
}
.about__cv-text {
  position: absolute;
  display: block;
  margin-top: -4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  line-height: 45px;
  color: #fff;
}
.about__item:nth-child(1) {
  padding-bottom: 112px;
}
.about__item {
  padding-bottom: 69px;
}
.about__title {
  margin: 0;
  letter-spacing: -1px;
  line-height: 25px;
  padding-bottom: 13px;
}
.about__text {
  margin: 0;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}
.about__text_weight {
  font-weight: 600;
}
.about .about__education {
  padding: 40px;
  padding-left: 35px;
  padding-top: 50px;
  width: 60%;
}

.grid {
  display: grid;
  grid-template-columns: 64.5% 35.4%;
  grid-template-rows: 1fr minmax(200px, 610px) 150px;
  grid-template-areas: "about header" "experience skill" "footer skill";
}

.skill {
  padding-top: 0px;
  text-align: left;
  color: #fff;
  background-color: #000;
}
.skill__text {
  margin: 0;
  padding-left: 56px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.skill .skill__list {
  padding-left: 56px;
  margin-bottom: 105px;
}
.skill__item {
  width: 20%;
  position: relative;
  font-size: 12px;
  padding-bottom: 11px;
}
.skill__item_js::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -17px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/javascript.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.skill__item_ts::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -17px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/typescript.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.skill__item_react::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -17px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/react.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.skill__item_redux::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -17px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/redux.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.skill__item_html::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -17px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/html5.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts {
  padding: 65px;
  padding-left: 57px;
  height: 446px;
  color: #fff;
  background-color: #2C2C2C;
}
.contacts__title {
  font-size: 19px;
  margin: 0;
  margin-bottom: 10px;
}
.contacts__text {
  font-size: 14px;
  margin: 0;
  margin-bottom: 133px;
}

.email,
.mobile {
  font-size: 14px;
}
.email__link,
.mobile__link {
  color: #fff;
  transition: color 0.3s;
}
.email__link:hover,
.mobile__link:hover {
  transition: color 0.3s;
  color: #E96D09;
}

.vertical-text {
  bottom: 416px;
  left: 0;
  position: absolute;
  margin-left: 29px;
  z-index: 100;
}
.vertical-text__title {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 51px;
  letter-spacing: -5px;
  text-align: center;
  display: block;
  transform: rotate(270deg);
}

.experience .vertical-text {
  margin-left: 18px;
  bottom: 377px;
}
.experience .vertical-text__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -87%;
  width: 183px;
  height: 2px;
  background-color: #000;
}
.experience .vertical-text__title.web-site__text::after {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.about .vertical-text__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -111%;
  width: 218px;
  height: 2px;
  background-color: #000;
}

.experience .web-site.vertical-text {
  margin-left: -40px;
  bottom: 604px;
}

.experience {
  position: relative;
  background-color: #d8d8d8;
  padding-top: 24px;
  padding-left: 310px;
}
.experience .experience__list {
  width: 90%;
  margin-left: 20px;
}
.experience__link {
  color: #000;
  font-weight: 600;
  display: inline-block;
  transition: color 0.3s;
}
.experience__link:hover {
  transition: color 0.3s;
  color: #E96D09;
}
.experience__title {
  margin: 0;
  margin-bottom: 25px;
}
.experience__item {
  margin-bottom: 20px;
}
.experience__about {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.experience__about::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 14px;
  height: 14px;
  background-image: url("../../img/plus-line-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  fill: #000;
}

.web-site__text {
  font-size: 16px;
  letter-spacing: 3px;
  opacity: 0.6;
  color: #fff;
}

.education__title {
  font-size: 35px;
}

.course {
  background-color: #ededed;
}/*# sourceMappingURL=main.css.map */