.experience {
  position: relative;
  background-color: #d8d8d8;
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
  padding-left: 260px;

  &__list {
    width: 80%;
  }

  &__link {
    color: #000;
    font-weight: 600;
    display: inline-block;
    transition: color 0.3s;

    &:hover {
      transition: color 0.3s;
      color: #E96D09;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__about {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }
}

.web-site {
  &__text {
    font-size: 16px;
    letter-spacing: 3px;
    opacity: 0.6;
    color: #fff;
  }

}